<template>
  <div>
    <md-calendar
      default="Sat Jun 18 2022 10:28:49 GMT-0500 (hora estándar de Colombia)"
      v-model="crr"
      :md-dates="values"
      :md-currency="currency"
    />
  </div>
</template>

<script>
export default {
  name: "Example",
  data: () => ({
    crr: "",
    currency: "usd",
    values: [
      // {
      //   currencyCode: "pen",
      //   date: new Date(),
      //   icons: ["online"],
      //   contents: [
      //     {
      //       type: "string",
      //       value: "45778.98"
      //     },
      //     {
      //       type: "chip",
      //       value: "Depositada",
      //       status: "depositada"
      //     }
      //   ]
      // },
      {
        currencyCode: "usd",
        date: "2022-02-23",
        icons: ["online"],
        contents: [
          {
            type: "string",
            value: "49778.98"
          },
          {
            type: "chip",
            value: "Depositada",
            status: "depositada"
          }
        ]
      },
      {
        currencyCode: "usd",
        date: "2022-07-21",
        icons: ["online"],
        contents: [
          {
            type: "string",
            value: "49778.98"
          },
          {
            type: "chip",
            value: "Depositada",
            status: "depositada"
          }
        ]
      }
    ]
  })
  // computed: {
  //   formattedDate() {
  //     return dateFns.format(this.curr, 'MM/DD/YYYY');
  //   }
  // },
};
</script>

<style lang="scss" scoped>
.md-calendar {
}
</style>
