<template>
  <md-toolbar class="md-table-toolbar md-transparent" :md-elevation="0">
    <slot />
  </md-toolbar>
</template>

<script>
import MdToolbar from "components/MdToolbar/MdToolbar";

export default {
  name: "MdTableToolbar",
  components: {
    MdToolbar
  },
  inject: ["MdTable"]
};
</script>

<style lang="scss">
@import "~components/MdAnimation/variables";

.md-table-toolbar {
  padding-left: 24px;

  .md-title {
    flex: 1;
    font-family: Archivo;
    font-style: normal;
    font-weight: 600;
    font-size: 14.22px;
    color: #1f263e;
  }
}
</style>
