<example src="./examples/Example.vue" />

<template>
  <page-container centered :title="$t('pages.calendar.title')">
    <div class="page-container-section">
      <p>Lorem ipsum</p>
    </div>

    <div class="page-container-section">
      <h2>Calendar</h2>

      <code-example title="Example" :component="examples['example']" />

      <api-item title="API - md-calendar">
        <p>The following options can be applied to all calendars:</p>
        <api-table :headings="props.headings" :props="props.props" slot="props" />
      </api-item>
    </div>
  </page-container>
</template>

<script>
  import examples from 'docs-mixins/docsExample'

  export default {
    name: 'DocCalendar',
    mixins: [examples],
    data: () => ({
      props: {
        headings: ['Name', 'Description', 'Default'],
        props: [
          {
            name: 'md-dates',
            type: 'Array',
            description: 'The values ​​of each day on the calendar.',
            defaults: '[]'
          },
          {
            name: 'md-currency',
            type: 'String',
            description: 'The chosen deposit currency.',
            defaults: 'pen'
          }
        ]
      },
    })
  }
</script>