<template>
  <md-icon class="md-icon-image" v-once>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0)">
        <path d="M10 15.9351C6.46001 15.9351 3.28001 13.5751 2.27001 10.1851L2.21001 10.0051L2.27001 9.81506C3.29001 6.43506 6.47001 4.06506 10 4.06506C13.54 4.06506 16.72 6.42506 17.73 9.81506L17.79 10.0051L17.73 10.1951C16.71 13.5751 13.54 15.9351 10 15.9351ZM3.57001 10.0051C4.48001 12.7451 7.10001 14.6351 10 14.6351C12.9 14.6351 15.52 12.7351 16.43 10.0051C15.52 7.26506 12.9 5.37506 10 5.37506C7.10001 5.36506 4.48001 7.26506 3.57001 10.0051Z" fill="#677488"/>
        <path d="M10 12.9051C8.40001 12.9051 7.10001 11.6051 7.10001 10.0051C7.10001 8.4051 8.40001 7.1051 10 7.1051C11.6 7.1051 12.9 8.4051 12.9 10.0051C12.9 11.6051 11.6 12.9051 10 12.9051ZM10 8.4051C9.12001 8.4051 8.40001 9.1251 8.40001 10.0051C8.40001 10.8851 9.12001 11.6051 10 11.6051C10.88 11.6051 11.6 10.8851 11.6 10.0051C11.6 9.1251 10.88 8.4051 10 8.4051Z" fill="#677488"/>
        <path d="M16.6774 2.40821L2.40813 16.6775L3.32736 17.5967L17.5966 3.32744L16.6774 2.40821Z" fill="#677488"/>
      </g>
      <defs>
        <clipPath id="clip0">
          <rect width="15.58" height="15.19" fill="white" transform="translate(2.21001 2.40503)"/>
        </clipPath>
      </defs>
    </svg>

    <!-- <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
    </svg> -->
  </md-icon>
</template>

<script>
  import MdIcon from 'components/MdIcon/MdIcon'

  export default {
    name: 'MdPasswordOnIcon',
    components: {
      MdIcon
    }
  }
</script>
