<template>
  <md-icon class="md-icon-image" v-once>
    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0)">
        <path d="M7.99996 11.9345C4.45996 11.9345 1.27996 9.57445 0.269961 6.18445L0.209961 6.00445L0.269961 5.81445C1.27996 2.42445 4.45996 0.0644531 7.99996 0.0644531C11.54 0.0644531 14.72 2.42445 15.73 5.81445L15.79 6.00445L15.73 6.19445C14.71 9.57445 11.54 11.9345 7.99996 11.9345ZM1.56996 6.00445C2.47996 8.74445 5.09996 10.6345 7.99996 10.6345C10.9 10.6345 13.52 8.73445 14.43 6.00445C13.52 3.26445 10.9 1.36445 7.99996 1.36445C5.09996 1.36445 2.47996 3.26445 1.56996 6.00445Z" fill="#677488"/>
        <path d="M7.99985 8.90449C6.39985 8.90449 5.09985 7.60449 5.09985 6.00449C5.09985 4.40449 6.39985 3.10449 7.99985 3.10449C9.59985 3.10449 10.8999 4.40449 10.8999 6.00449C10.8999 7.60449 9.59985 8.90449 7.99985 8.90449ZM7.99985 4.40449C7.11985 4.40449 6.39985 5.12449 6.39985 6.00449C6.39985 6.88449 7.11985 7.60449 7.99985 7.60449C8.87985 7.60449 9.59985 6.88449 9.59985 6.00449C9.59985 5.12449 8.87985 4.40449 7.99985 4.40449Z" fill="#677488"/>
      </g>
      <defs>
        <clipPath id="clip0">
          <rect width="15.58" height="11.87" fill="white" transform="translate(0.209961 0.0644531)"/>
        </clipPath>
      </defs>
    </svg>

    <!-- <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"/>
      <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
    </svg> -->
  </md-icon>
</template>

<script>
  import MdIcon from 'components/MdIcon/MdIcon'

  export default {
    name: 'MdPasswordOffIcon',
    components: {
      MdIcon
    }
  }
</script>
